__pycache__/
*.pyc
.mplconfig/
data/
.venv/
venv/
.venv311/
brand-absa-emcgcn/
**/*.csv
**/*.out
.DS_Store
**/*.env
**/*.parquet
**/cache/** 
**/__pycache__/**
**/*.db
**/*.log
**/bertopic_model
**/eval/*
**/visualizations/*
**/output/*
**/log/*
*.pyc 
